.form-container {
    display: flex;
    flex-wrap: wrap;
}

.date-completed {
    text-decoration: none;
    color:lightgray;
    font-size:.8rem;
    position: initial;
}

/* .todo-item {
} */

.item-container {
    background:white;
    border: 1px solid lightgray;
    width: 354px;
}