.form-container {
    display: flex;
    flex-wrap: wrap;
}

.date-completed {
    text-decoration: none;
    color:lightgray;
    font-size:.8rem;
    position: initial;
}

.todo-item {
    padding-left: 20px;
    color: white;
}

.item-container {
    background:#373D3F;
    border: 1px solid lightgray;
    border-collapse: separate;
    width: 354px;
}