body {
    /* background: url(./wood-background.jpeg); */
    background: #107896;
}

.todo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 0 auto;
    margin-top: 80px;
    border: 10px solid green;
}

.todo-container h2, a {
    background: #3C6478;
    border-radius: 10px 10px 0 0;
    margin: 0;
    text-align: center;
    padding: 10px 0;
    color: white;
    text-shadow: 0 0 5px black;
    border: 0.5px solid lightgray;
    font-size: 1.6rem;
    width: 100%;
}

.credits {
    font-size: 1.2rem;
    text-decoration: none;
    transition: 0.2s;
}

.credits:hover {
    color:gainsboro;
}

.todo-list {
    display: block;
    width: 100%;
    min-height: 300px;
    background-color: gainsboro;
    overflow: auto;
}